.container__bg{
  background: url("../assets/backgrounds/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* height: 100vh; */
}

.overlay--black{
  height: 70vh;
  background: #000000ed;
  margin-bottom: 20px;
  box-shadow: 0px 7px 6px 1px #c7c7c7;
}
.bg{
  background: white;
border-radius: 4px;
box-shadow: 0px 0px 7px 1px #FFFFFFBA;
height: auto;
margin: 0px auto;
padding: 30px 10px;
}

.bottom--border{
  border-bottom: 2px solid #c4c4c4b8;
}
label{
  color:white;
  font-size: 14px;
}
hr{
  color: #c4c4c4b8;
  margin-top: 0px;
};

.form-control{
  height: 50px !important;
}

.coin__logo__container{
  max-width: 30px;

}
.coin__logo{
  width: 100%;
}
.margin__top{
  margin-top: 50px;
}
.text__green{
  color:green;
  font-size: 11px;
}
.text__red{
  color:red;
  font-size: 11px;
}
.price__font--size{
  font-size: 20px;
  font-weight: bold;
}

.text__font--szie{
  font-size: 11px;
  color: grey;
}

.btn-primary{
  color: #fff;

  background-color: #7c159d;

  border-color: #7c159d;
}

.btn-primary:hover{
  color: #fff;

  background-color:  #4f0d64;

  border-color: #4f0d64;
}